<?xml version="1.0"?>
<launch>

    <arg name="x_pos" default="0.3"/>
    <arg name="y_pos" default="0.3"/>
    <arg name="z_pos" default="0.0"/>

    <arg name="model" default="$(find oryksbot_description)/urdf/oryksbot.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>  
 
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find oryksbot_gazebo)/worlds/warehouse.world"/>
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="verbose" value="true"/>
    </include>    

    <!--Launch Gazebo Simulator-->
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" 
    args="-urdf -param robot_description -model oryksbot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)" output="screen"/>

</launch>